/*Begin Bootstrap Overrides*/
.row, ul, li, .list-group-item, .card, .card-img, body {
    background-color: black;
    border-color: darkgray;
}

.text-dark {
    color: white !important;
}

.input-group-text {
    background-color: darkgray;
}

.nav-link {
    color: darkgray;
}

.active {
    background-color: black !important;
    color: white !important;
    font-weight: bold;
}

.list-group, .list-group-item {
    border: 0px !important;
}

.fa, .fab, .fas {
    color: white !important;
}

.fa-inverse {
    color: black !important;
}

.list-group-item .btn {
    background-color: white;
    color: black;
    border-color: white;
}

.form-control {
    background-color: darkgray;
}
.bg-secondary {
    background-color: dimgray;
}
.right-side-bar .list-group .list-group-item {
    background-color: dimgray;
}
.right-side-bar .list-group .row {
    background-color: dimgray;
}
/*End Bootstrap overrides*/

/*Begin A3 classes*/
.wd-rounded-borders {
    border-radius: 15px;
}
.wd-circle-avatar {
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}
.wd-no-margin {
    margin: 0px;
}
.wd-setting-link {
    float: right;
}

.wd-blue-font {
    color: rgb(29,161,242);
}
.wd-red-font {
    color: red;
}
.wd-white-font {
    color: white;
}
.wd-light-gray-font {
    color: lightgray;
}
.wd-dark-gray-font {
    color: dimgray;
}
.wd-padding-left {
    padding-left: 16px;
}

.wd-input-bar {
    width: 80%;
    padding-left: 16px;
    height: 25px;
    background-color: darkgray;
    color: white;
}
.wd-bg-black {background-color: black}
.wd-border-gray {border-color: rgb(47, 51, 54)}
.wd-border-bottom {
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
}
.wd-border-sides {
    border-style: solid;
    border-top-width: 3px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.wd-rounder-corners {
    border-radius: 25px;
}
.wd-padding-right {
    padding-right: 12px;
}
.wd-list {
}
.wd-list-item {
    list-style-type: none;
    font-size: 15px;
    float: left;
    padding: 16px;
}
li.wd.content-item {
    float: left;
}
.wd-title {
    padding-left: 16px;
    color: white;
    padding-top: 12px;
    padding-bottom: 3px;
    font-size: 20px;
}
.wd-subtitle {
    padding-left: 16px;
    color:lightgray;
    padding-top: 3px;
    padding-bottom: 12px;
    font-size: 13px;
}
.wd-main-content {
    padding-left: 16px;
    color: white;
}
.wd-sub-content {
    font-size: 13px;
    padding-left: 16px;
    color: rgb(110, 118, 125);
}
.wd-author-content {
    font-size: 13px;
    padding-left: 16px;
    color: white;
}
.wd-conent-img {
    float: right;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 25px;
}
.wd-profile-picture {
    float: left;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 12px;
}
.wd-selected {
    border-color: rgb(29,161,242);
    z-index: 10;
}
.wd-post-title {
    float: left;
    color: white;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 15px;
}
.wd-post-handle {
    float: left;
    color: lightgray;
    padding-left: 3px;
    padding-top: 12px;
    font-size: 15px;
}
.wd-post-content {
    width: 100%;
    float: left;
    color: lightgray;
    margin-right: 16px;
    font-size: 15px;
    width: 506px;
    padding-left: 12px;
}
.wd-main-img {
    width: 100%;
    width: 504px;
    height: 264px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    margin-left: 76px;
    margin-top: 12px;
}
.wd-rounded-corners-top {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.wd-icon-bar{
    margin-top: 12px;
    margin-left: 76px;
    margin-bottom: 12px;
}
.wd-icon-bar-item {
    width: 126px;
    display: inline-flex;
}
.wd-quarter-length {
    width: 25%;
}
ul {
    list-style-position: inside;
    padding-inline-start: 0px;
}
.wd-main-box {
    margin-left: 76px;
    width: 504px;
}
.wd-photo-text{
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
}
nav,
div {
    overflow: hidden;
}
.wd-icon {
    display: inline;
}
.wd-align-left {
    float: left;
}
/*End A3 classes*/