a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-setting-link {
    float: right;
}

.wd-blue-font {
    color: rgb(29,161,242);
}

.wd-input-bar {
    width: 80%;
    padding-left: 16px;
    height: 25px;
    background-color: darkgray;
    color: white;
}
.wd-bg-black {background-color: black}
.wd-border-gray {border-color: rgb(47, 51, 54)}
.wd-border-bottom {
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
}
.wd-rounder-corners {
    border-radius: 25px;
}
.wd-padding-right {
    padding-right: 12px;
}
.wd-list {
}
.wd-list-item {
    list-style-type: none;
    font-size: 15px;
    float: left;
    padding: 16px;
}
li.wd.content-item {
    float: left;
}
.wd-main-content {
    padding-left: 16px;
    color: white;
}
.wd-sub-content {
    font-size: 13px;
    padding-left: 16px;
    color: rgb(110, 118, 125);
}
.wd-author-content {
    font-size: 13px;
    padding-left: 16px;
    color: white;
}
.wd-conent-img {
    float: right;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 25px;
}
.wd-selected {
    border-color: rgb(29,161,242);
    z-index: 10;
}
ul {
    list-style-position: inside;
    padding-inline-start: 0px;
}
nav,
div {
    overflow: hidden;
}